<div class="s-wide s-wide--full-height">
	<div class="o-container o-container--vertical-top o-container--small
							o-container--medium o-container--large o-container--xlarge
							o-container--black-text">
		<div class="o-grid o-grid--wrap">
			<div class="o-grid__cell o-grid__cell--width-100" id="basket-area">
			</div>
			<div class="o-grid__cell o-grid__cell--width-80"></div>
			<div class="o-grid__cell o-grid__cell--width-20" id="checkout"></div>
		</div>
	</div>
</div>
