$fontGlobal: "EB Garamond";

$backgroundURL: url('../images/background.jpg');

$orange: #D56505;
$bright-orange: #FFB677;
$dark-yellow: #FFA04E;
$dark-white: #E6E6E6;
$juicy-orange: #FF4500;
$light-black: #222;
$light-grey: #9D9D9D;

$sectionHeight: 100vh;
$box-margin-none: 0 0 0 0;
