<div class="o-container o-container--vertical-top o-container--small
	 o-container--medium o-container--large o-container--xlarge o-container--black-text">
	<div class="o-grid o-grid--wrap o-grid--no-gutter">
		<div class="o-grid__cell--width-100">
			<h1>Grab a coffee with us</h1>
			<h2>Check our address below!</h2>
		</div>
		<div class="o-grid__cell--width-100 o-grid__cell--height-70">
			<div class="c-map" id="map"></div>
			<button type="button" class="c-button c-button--success u-super no-extras" id="geolocation-btn">
				Get me there!
			</button>
		</div>
	</div>
</div>
