<div class="s-wide s-wide--front">
	<div class="o-container o-container--vertical-center o-container--small
	 o-container--medium o-container--large o-container--xlarge o-container--dark-white-text">
		<h1 class="t-header t-header__text--white">Enhance your knowledge</h1>
		<h2 class="t-header t-header__text--white">Browse 1000s of books in any format</h2>
		<hr class="line line--orange">
	</div>
</div>
<div class="s-wide s-wide--orange">
	<div class="o-container o-container--vertical-top o-container--small
	 o-container--medium o-container--large o-container--xlarge o-container--black-text">
		<h1>One store to rule them all</h1>
		<h2>Mobi, Epub or Audiobook? We have all popular extensions for all devices</h2>
		<div class="o-grid o-grid--margin-top-5">
			<div class="o-grid__cell">
				<i class="fa fa-headphones c-ico c-ico--big no-extras" aria-hidden="true"></i>
				<p>Nutrixs observare! Noster, clemens nutrixs sapienter amor de dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla.</p>
			</div>
			<div class="o-grid__cell o-grid__cell--place-around">
				<i class="fa fa-book c-ico c-ico--big no-extras" aria-hidden="true"></i>
				<p>Nutrixs observare! Noster, clemens nutrixs sapienter amor de dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla.</p>
			</div>
			<div class="o-grid__cell">
				<i class="fa fa-tablet c-ico c-ico--big no-extras" aria-hidden="true"></i>
				<p>Nutrixs observare! Noster, clemens nutrixs sapienter amor de dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla.</p>
			</div>
		</div>
	</div>
</div>
<div class="s-wide s-wide--bright-orange">
	<div class="o-container o-container--vertical-top o-container--small
	 o-container--medium o-container--large o-container--xlarge o-container--black-text">
		<h1>One store to rule them all</h1>
		<h2>Mobi, Epub or Audiobook? We have all popular extensions for all devices</h2>
		<div class="o-grid o-grid--margin-top-5">
			<div class="o-grid__cell">
				<i class="fa fa-headphones c-ico c-ico--big no-extras" aria-hidden="true"></i>
				<p>Nutrixs observare! Noster, clemens nutrixs sapienter amor de dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla.</p>
			</div>
			<div class="o-grid__cell o-grid__cell--place-around">
				<i class="fa fa-book c-ico c-ico--big no-extras" aria-hidden="true"></i>
				<p>Nutrixs observare! Noster, clemens nutrixs sapienter amor de dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla.</p>
			</div>
			<div class="o-grid__cell">
				<i class="fa fa-tablet c-ico c-ico--big no-extras" aria-hidden="true"></i>
				<p>Nutrixs observare! Noster, clemens nutrixs sapienter amor de dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla
					de dexter, lotus bullade dexter, lotus bullade dexter, lotus bulla.</p>
			</div>
		</div>
	</div>
</div>
<div class="s-wide" id="contact-us">
</div>
