<div class="s-wide s-wide--full-height">
	<div class="o-container o-container--vertical-top o-container--small
							o-container--medium o-container--large o-container--xlarge
							o-container--black-text">
		<div class="o-grid">
			<div class="o-grid__cell o-grid__cell--width-40 o-grid__cell--offset-30">
				<h2>Create account</h2>
				<form>
					<div class="o-form-element">
						<label class="c-label" for="firstName">First name</label>
						<input type="text" id="firstName" class="c-field" name="firstName"
							   placeholder="e.g. John" aria-describedby="basic-addon1" required>
					</div>
					<div class="o-form-element">
						<label class="c-label" for="lastName">Last name</label>
						<input type="text" id="lastName" class="c-field" name="lastName"
							   placeholder="e.g. Smith" aria-describedby="basic-addon1" required>
					</div>
					<div class="o-form-element">
						<label class="c-label" for="password">Password</label>
						<input type="password" id="password" class="c-field" name="password"
							   placeholder="******" aria-describedby="basic-addon1" required>
					</div>
					<div class="o-form-element">
						<label class="c-label" for="email">Email</label>
						<input type="email" id="email" class="c-field" name="email"
							   placeholder="e.g. john.smith@gmail.com" aria-describedby="basic-addon1" required>
					</div>
					<div class="o-form-element">
						<label class="c-label" for="address">Address</label>
						<textarea id="address" class="c-field" name="address"
								  placeholder="Address" aria-describedby="basic-addon1"
								  rows="5" cols="45" required></textarea>
					</div>
					<button class="c-button c-button--top-padded c-button--top-padded--success" id="register">Register
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
