<li class="c-nav__item no-extras">
	<a href="#/basket" id="basket-anchor" class="c-nav__item--link">
		<span class="c-badge c-badge--rounded">0</span> Basket</a>
</li>
<input class="c-field c-field--vertical-center" type="text" title="" id="awesomplete" hidden>
<li class="c-nav__item no-extras">
	<button class="c-button" type="button" id="account"
			data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Account
	</button>
	<ul class="c-card c-card--menu u-high no-extras" id="account-dropdown" hidden>
		<li class="c-card__item custom-background">
			<a href="#/login" class="c-card__item--link fa fa-sign-in"
			   aria-hidden="true" id="login-btn"> Login</a>
		</li>
		<li class="c-card__divider"></li>
		<li class="c-card__item custom-background">
			<a href="#/register" class="c-card__item--link fa fa-user-plus"
			   aria-hidden="true" id="register-btn"> Register</a>
		</li>
	</ul>
	<button class="c-button c-button--top-padded c-button--top-padded--info fa fa-sign-out"
			aria-hidden="true" type="button" id="sign-out-btn" hidden> Sign out
	</button>
</li>
<li class="c-nav__item no-extras" id="contact-btn">
	<a href="#/contact-us" class="c-nav__item--link">Contact Us</a>
</li>
<li class="c-nav__item no-extras">
	<a class="c-ico c-ico--white fa fa-search c-nav__item--link" id="look-up-anchor"></a>
</li>
