<div class="c-card">
	<div class="c-card__item">Checkout</div>
	<div class="c-card__item">
		<p class="c-paragraph">Total: £{{totalPrice}}</p>
		<button type="button" class="c-button c-button--success" id="basket-proceed-button">Proceed to
			checkout
		</button>
	</div>
	<div class="c-card__item">
		<button type="button" class="c-button c-button--error" id="basket-reset-button">
			Reset basket
		</button>
	</div>
</div>
