<div class="s-wide">
	<div class="o-container o-container--vertical-top o-container--small
	 o-container--medium o-container--large o-container--xlarge o-container--black-text">
		<div class="o-grid o-grid--wrap">
			<div class="o-grid__cell--width-100">
				<img src="../images/pay_pal/pay-pal-logo.png" alt="PayPal">
			<div class="o-grid__cell--width-100">
				<h3>Please complete the payment process by clicking the button below</h3>
				<div id="paypal-button"></div>
			</div>
		</div>
		</div>
	</div>
</div>